* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #eee;
  min-height: 5000px;
}

.scroll {
  background-color: blue;
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 5px;
  z-index: 99999;
}
